*::before,
*,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;

  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  background: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1, h2, h3{
  font-family: 'Varela Round';
  font-weight: 600;
}

a,
a:visited,
a:active{
  color: hsl(200, 50%, 50%);
  text-decoration: none;
  font-weight: bolder;

  transition: opacity .15s;

  animation: colourChange 10s infinite alternate;
}

a:hover{
  opacity: .8;
}

@keyframes colourChange{
  0%{ color: hsl(  0, 50%, 50%); }
  25%{ color: hsl( 90, 50%, 50%); }
  50%{ color: hsl(180, 50%, 50%); }
  75%{ color: hsl(270, 50%, 50%); }
  100%{ color: hsl(360, 50%, 50%); }
}

.row{
  overflow: hidden;
}

.container{
  background-color: rgba(0, 0, 0, .9);
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.info,
header{
  float: left;
  padding: 5em 2em 1em;
}

header{
  overflow: hidden;

  z-index: 10;
  padding: 5em 2em;
  width: 60%;

  transform: rotate(-6deg) translate(-10%, -10%);

  background-color: transparent;
  background-image: linear-gradient(

    to bottom right,

    hsla( 28, 64%, 59%, .5),
    hsla(331, 42%, 44%, .5),
    hsla(349, 65%, 59%, .5),
    hsla( 28, 64%, 59%, .5),
    hsla(187, 80%, 37%, .5),
    hsla( 63, 59%, 56%, .5),
    hsla(  5, 74%, 37%, .5),
    hsla(331, 42%, 44%, .5),
    hsla( 28, 64%, 59%, .5)

  );

  background-size: 900% 900%;
  background-position: 0% 0%;

  animation: backgroundChange 10s infinite linear alternate;

  border-radius: 10px;
}

@keyframes backgroundChange{
  0%{ background-position:   0%   0% }
  100%{ background-position: 100% 100% }
}

.call-to-action{
  position: relative;
  display: inline-block;
  margin: .5em 0;

  font-size: 2.5em;
  font-family: 'Varela Round';
  font-weight: 600;
}

.call-to-action--tickets::before{
  position: absolute;
  top: -1em; right: -2em;
  content: 'Free!';
  display: inline-block;
  padding: 1.5em 0;
  width: 4em;
  height: 4em;

  line-height: 1em;
  font-size: .5rem;
  text-transform: uppercase;
  text-align: center;

  background-color: black;
  border-radius: 50%;

  transform: scale(.85);

  animation: freeJiggle .5s infinite ease-in alternate;
}

@keyframes freeJiggle{
  from{ transform: scale(1); }
}

.info{
  position: relative;
  width: 40%;
  max-width: 700px;

  color: white;

  text-align: right;
}

.info .date,
.info .place{
  margin: 0;
  margin-bottom: .25em;

  font-size: 3em;
  font-weight: 600;
  font-family: 'Varela Round';
}

.info p{
  max-width: 30em;
}

.social-links{
  overflow: hidden; /* clearfix */
  margin: 2em 0;
}

.social-link{
  list-style: none;
  float: left;
  width: 25%;

  font-size: 2em;
  text-align: right;
}

.social-link a{
  color: white;
  animation: none;
}

.social-link__name{
  display: none;
}

.hack-desc{
  float: right;
  max-width: 20em;

  text-align: left;

  opacity: .45;

  transition: opacity 1s;
}

.hack-desc p{
  margin-top: .5em;
}

.hack-desc:hover{
  opacity: 1;
}

header .logo{
  max-width: 100%;
  width: 50%;
  margin: 0 auto;
}

.logo{
  display: block;

  animation: hackpompeyIn 1.5s forwards;
  transform: translateZ(0); /* force onto the gpu layer for performance */
}

@keyframes hackpompeyIn{
  from{
    opacity: 0;
    transform: translateY(-100%);
  }
}

.logo__hack{
  display: block;
  margin: 0 auto;
}

.logo__hack > path{
  fill: rgba(255,255,255,.85);
}

.logo__hack > .logo__hack__h{ animation-delay: -.33s; }
.logo__hack > .logo__hack__a{ animation-delay: -.66s; }
.logo__hack > .logo__hack__c{ animation-delay: -.99s; }
.logo__hack > .logo__hack__k{ animation-delay: -1.33s; }

.logo__pompey > path{
  fill: none;

  stroke: rgba(255,255,255,.85);
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;

  animation: drawLine 2.5s linear forwards;
}

.logo__pompey > .logo__pompey__p{
  stroke-dasharray: 180;
  stroke-dashoffset: 180;

  animation-duration: 0.33s;
  animation-delay: 0s;
}

.logo__pompey > .logo__pompey__om{
  stroke-dasharray: 560;
  stroke-dashoffset: 560;

  animation-duration: 0.66s;
  animation-delay: 0.33s;
}

.logo__pompey > .logo__pompey__pey{
  stroke-dasharray: 900;
  stroke-dashoffset: 900;

  animation-duration: 1.16s;
  animation-delay: 0.99s;
}

.logo__pompey > .logo__pompey__tail{
  stroke-dasharray: 110;
  stroke-dashoffset: 110;

  animation-duration: 0.17s;
  animation-delay: 2.15s;
}

@keyframes drawLine{
  to{ stroke-dashoffset: 0; }
}

.tagline{
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 1em;

  color: white;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Varela Round';
  text-align: center;

  border-radius: 5px;

  transform: rotate(1.5deg);

  animation: taglineIn 1.5s forwards cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@keyframes taglineIn{
  0%, 25%{
    opacity: 0;
    transform: scale(.85) translateY(100%);
  }
}

main{
  margin: 0 auto;
  width: 66.66%;

  color: rgba(255, 255, 255, .9);
}

main > section{
  padding: 2em;
}

main > section h1,
main > section h2,
main > section h3,
main > section li,
main > section p{
  max-width: 35em;
  margin-bottom: 1em;
  margin-bottom: 1em;
}

main > section h1,
main > section h2,
main > section h3{
  margin-top: 2em;
  margin-bottom: .5em;
}

main > section ul{
  padding-left: 1em;
  color: rgba(255, 255, 255, .85);
}

main > section p{
  color: rgba(255, 255, 255, .85);
}

.hack-list{
  overflow: hidden;
  border-radius: 10px;

  transform: translateX(5%);
}

.hack-list__heading{
  display: block;
  padding: 1em;

  text-transform: uppercase;
}

.hack{
  padding: 1em 2em;
  margin: 0;

  overflow: hidden; /* clearfix */
  list-style: none;
}

.hack__logo{
  height: 100px;
  float: left;
  width: 50%;

  text-indent: -9999px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% center;
}

.hack:first-of-type .hack__logo{
  height: 90px;
}

.hack--6 {
  color: white;
  background-color: #364596;
  background-image: linear-gradient(to bottom right, #d0418f, #364596);
}

.hack--6 .hack__logo{
  background-image: url(../img/logo/old/hackpompey--6.png);
  background-image: url(../img/logo/old/hackpompey--6.svg), none;
}

.hack--wearables{
  color: whiteSmoke;
  background-color: rgba(255, 255, 255, .85);
  background-image: linear-gradient(to bottom, rgba(101,155,212,0.85), rgba(0,255,186,0.85));
}

.hack--wearables .hack__logo{
  background-image: url(../img/logo/old/hackpompey--wearables.png);
  background-image: url(../img/logo/old/hackpompey--wearables.svg), none;
}

.hack--fashion{
  background: white;
  color: #4E4E4E;
}

.hack--fashion .hack__logo{
  background-image: url(../img/logo/old/hackpompey--fashion.png);
}

.hack--3{
  background: #f5f5f5;
  color: #333;
}

.hack--3 .hack__logo{
  background-image: url(../img/logo/old/hackpompey--3.png);
}

.hack--open-data{
  background: #CAEFCB;
  color: #333;
}

.hack--open-data .hack__logo{
  background-image: url(../img/logo/old/hackpompey--open-data.png);
}

.hack--1{
  background: #fef7ba;
  color: #333;
}

.hack--1 .hack__logo{
  background-image: url(../img/logo/old/hackpompey--1.png);
}

.hack__details{
  float: left;
  width: 50%;
  padding: 1em;

  text-align: right;
  font-family: 'Varela Round';
  font-weight: 400;
}

.hack__details li{
  list-style: none;
  font-size: 1em;
}

.hack__links{
  font-size: 1em;
  font-weight: 400;
  color: rgba(0, 0, 0, .5);
}

.hack__links a{
  display: inline-block;
  margin-right: .5em;
  font: inherit;
  color: inherit;
  animation: none;
}

.hack__links a:hover{
  opacity: .8;
}

footer{
  float: left;
  width: 100%;
  padding: 1em 2em;

  color: white;

  background-color: rgba(31, 21, 49, .85);
}

footer p{
  text-align: right;
}

footer p a,
footer p a:visited,
footer p a:hover{
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

/* Current Hack Style Updates */
header.hp7 {
    background-image: linear-gradient(
        to bottom right,
        hsla(160, 100%, 54%, .5),
        hsla(194, 100%, 54%, .5),
        hsla(165, 100%, 60%, .5),
        hsla(187, 80%, 37%, .5)
    );
    background-size: 400% 400%;
}
.hack--current {
    background-image: linear-gradient(
        to bottom right,
        hsla(165, 100%, 60%, .05),
        hsla(0, 100%, 100%, .05)
    );
    border-top: 1px solid hsla(165, 100%, 60%, 1);
    border-bottom: 1px solid hsla(165, 100%, 60%, 1);
}
.hack--current .hack-body object {
    opacity: 0.85;
}
.hack--current .hack-body p {
    width: 100%;
    max-width: 100%;
}
.hack--current .hack-body a.hp7-aqua {
    color: hsla(165, 100%, 60%, 0.85);
    animation: none;
    cursor: pointer;
}
footer {
    background-color: hsla(165, 100%, 60%, 0.85);
    color: hsla(0, 100%, 0%, 0.58);
}
footer a {
    color: black;
    animation: none;
}
.eventbrite-widget {

}

@media (max-width: 700px){

  header,
  .info,
  main{
    width: 100%;
    transform: none;
  }

  .hack-list,
  header{
    border-radius: 0;
  }

  header,
  .info{
    padding: 2em;
  }

  header .logo,
  header .tagline{
    width: 100%;
  }

  .info .place,
  .info .date{
    text-align: center;
    font-size: 2em;
  }

  .hack-desc{
    float: none;
  }

  .call-to-action{
    display: block;
    text-align: center;
    font-size: 1.5em;
  }

  .social-link{
    text-align: center;
  }

  .hack-list{
    width: 100%;
    transform: none;
  }

  .hack__logo,
  .hack__details{
    width: 100%;
    text-align: left;
    padding: 1em 0 0;
  }

  .hack{
    padding: 1.5em 2em;
  }

  .hack--current {
    flex-flow: column-reverse nowrap;
  }

  .hack--current .countdown {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    min-width: 100%;
    flex-flow: column;
    align-items: center;
    margin-top: 1rem;
    padding-top: 0;
    margin-right: 0;
  }

}
